<div class="upcoming">
  <h2>You are catching up with <%= pluralize(upcoming_contacts.count, "person") %> this week</h2>
  <div class="week-upcomings">
    <% upcoming_meetups.group_by { |e| e.contact }.to_h.each do |contact, meetups| %>
      <div class="week-upcomings-contact">
        <%= contact.first_name %>
      </div>
    <% end %>
  </div>
</div>
