<div class="upcoming">
  <h2>You have are catching up with <%= pluralize(upcoming_contacts.count, "person") %> this week</h2>
  <div class="week-reminders">
    <% upcoming_meetups.each do |meetup| %>
      <%= meetup.contact.first_name %> in <%= time_ago_in_words(meetup.meetup_day) %>
    <% end %>
  </div>
</div>
