<div class="upcoming">
  <h2>You have are catching up with <%= pluralize(upcoming_contacts.count, "person") %> this week</h2>
  <div class="week-reminders">
    you should reach out to:
    <% upcoming_reminders.each do |reminder| %>
      <%= reminder.contact.first_name %>
    <% end %>
  </div>
</div>
