.calendar-entry {
  &-head {
    background: #0069d1;
    .fas {
      color: white;
    }
  }
}

.reminder, .meetup, .open-slot {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
  }
}

.reminder {
  border: 1px solid #efefef;
}
